
// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;
$light-gray: #777;
$color-black:#000;

$color-grey-light-1:#f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;